.App {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#drum-machine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 400px;
  margin-top: 100px;
}

.drumPad {
  height: 100px;
  width: 100px;
  font-size: 36px;
  border-style: solid;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
