#title {
  display: flex;
  color: #00227b;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

#display {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  margin-top: 25px;
  font-style: italic;
}

#drum-machine {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 400px;
  background-color: #cfcfcf;
  border-radius: 10px;
  border-style: solid;
}

.drum-pad {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  font-size: 36px;
  border-style: solid;
  border-radius: 10px;
  cursor: pointer;
  background-color: #6f74dd;
}

.drum-pad:hover {
  background-color: #aab6fe;
  font-weight: bold;
  color: #fff;
}
.drum-pad.active {
  background-color: #aab6fe;
  font-weight: bold;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
}
